<a href="https://colab.research.google.com/github/Aryalakshmip/Exploratory-dataanalysis-using-python/blob/main/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
print(df.head(10))

X = df[['Gender', 'Age', 'EstimatedSalary']]
y = df['Purchased']

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [3]:
m = X.shape[0]
a = np.ones((m, 1))
X.insert(loc = 0, column = 'Ones', value = a)

In [4]:
X.loc[X['Gender'] == 'Male', 'Gender_Male'] = 1
X.loc[X['Gender'] == 'Female', 'Gender_Male'] = 0

del X['Gender']

In [5]:
age_std = X['Age'].std()
age_ave = X['Age'].mean()

sala_std = X['EstimatedSalary'].std()
sala_ave = X['EstimatedSalary'].mean()

X['Age'] = (X['Age'].subtract(age_ave)).divide(age_std)
X['EstimatedSalary'] = (X['EstimatedSalary'].subtract(sala_ave)).divide(sala_std)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train, X_test, y_train, y_test = X_train.to_numpy(), X_test.to_numpy(), y_train.to_numpy(), y_test.to_numpy()

In [7]:
def sigmoid(z):
	return (1/(1+np.exp(-z)))

In [8]:
def h(theta, X):
	return sigmoid(np.matmul(X, theta))

In [9]:
def cost_function(X, y, theta, m):

	y = y.reshape(y.shape[0], 1)
	H = h(theta, X)

	return (sum((y)*np.log(H) + (1-y)*np.log(1-H))) / (-m)

In [10]:
def gradient_descent(theta, X, y, alfa, m):

	H = h(theta, X)
	H = H.reshape((H.shape[0],))

	diff = np.subtract(H, y)
	a = np.matmul(np.transpose(X), diff).reshape((theta.shape[0],1))

	theta = theta - (alfa/m) * a

	return theta

In [11]:
def train(X, y, theta, alfa, m, num_iter):

	for i in range(num_iter):
		theta = gradient_descent(theta, X, y, alfa, m)


		if i % 500 == 0:
			print("Cost: ", cost_function(X, y, theta, m))

	return theta

In [12]:
def predict(X, theta, threshold = 0.5):

	a = h(theta, X)
	a [a >= threshold] = 1
	a [a < threshold]  = 0

	return a

In [13]:
def score(y1, y2):

	#y1 is answer
	#y2 is calculated

	y1 = y1.reshape(y1.shape[0], 1)
	y2 = y2.reshape(y2.shape[0], 1)

	y1_not = (1 - y1).reshape(y1.shape[0], 1)
	y2_not = (1 - y2).reshape(y1.shape[0], 1)


	a = np.multiply(y1_not, y2_not) + np.multiply(y1, y2)

	ones_ = np.count_nonzero(a == 1)

	return (ones_ / y1.shape[0]) * 100

In [14]:
m = X_train.shape[0]
n = X_train.shape[1]

theta = np.zeros((n, 1))
num_iter = 2000
alfa = 0.3

opt_theta = train(X_train, y_train, theta, alfa, m, num_iter)
y_ = predict(X_test, opt_theta)
print("Accuracy: ", score(y_test, y_))

Cost:  [0.65483195]
Cost:  [0.37434673]
Cost:  [0.3743219]
Cost:  [0.37432184]
Accuracy:  88.0